.container{
    display:flex;
    background-color: rgb(255, 255, 255);
    width:auto;
    margin: 30px;
}
body{
    font-family: 'Roboto Condensed',sans-serif;
    background:rgb(217, 215, 215);
    height:100%;
    
    
}
.resume_page{
    padding: 50px;
}
.part-1{
    padding-top:100px;
}
.part-2{
    padding:50px;
    padding-bottom: 100px;
}
p{
word-spacing:0.3em;
line-height: 1.6;

}
li{
    word-spacing:0.2em;
    line-height: 1.6;  
}
.mobile_no{
    line-height: 1.6;
}
.address{
    line-height: 1.6;
}
.gmail{
    line-height: 1.6;
}
.gmail p{
    display: flex;

}
.gmail i{
    padding-top: 8px;
}
.aktu,inter,matric{
margin:0:
}
